*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* GENERAL */

body{
   background-color: #F6F8F9;
}

#btn-container{
   width: 70%;
   max-width: 1200px;
   margin: 40px auto 3px auto;
   background-color: white;

   border-bottom: 0px solid lightgray;
   border-radius: 7px 7px 0px 0px;
}

a{
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
}

li{
   list-style: none;
}

#list-container{
   background-color: white;
   width: 70%;
   height: 600px;
   max-width: 1200px;
   padding: 30px;
   margin: auto;

   
}

span.category{
   width: 55px;
   height: 23px;
   padding: 5px;
   margin-left: 5px;

   font-family: 'Roboto', sans-serif;
   font-size: 10px;
   color: white;

   
   border-radius: 10px;
   
   

}

/* HEADER */

header{
   height: 75px;
   background-color: white;
   padding: 10px;
}

#logo{
   vertical-align: middle;
}

#site-name{
   margin-left: 5px;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   font-weight: 1000;
   vertical-align: middle;
   
}
/* /HEADER */

/* MAIN */

/* BOTTONI */

.btn-sect{
   height: 50px;

}

div.button{
   width: 100px;
   height: 25px;

   border: 2px solid white;
   border-radius: 5px;

   padding: 3px;
   margin-top: 15px;
   margin-left: 12px;
   
   background-color: red;
   font-size: 14px;
   text-align: center;
   
   display: inline-block;
}

div.button.blue{
   background-color: #46ADF1;
   color: white;
}

div.button.white{
   background-color: white;
   border-color: lightgray;
   color: lightgray;
}

/* LISTA */


.list-title::before{
   content: '\25BE';
}

p.list-voice{
   font-family: 'Roboto', sans-serif;
}

span.roundbox.check{
   color: lightgreen;
}

span.roundbox.nope{
   color: red;
}

span.roundbox{
   width: 20px;
   height: 15px;
   padding: 5px;
   margin-right: 5px;
   border: 1px solid;
   border-radius: 50%;
   
}

/* CATEGORIE LISTA */
span.category.editorial{
   background-color: #46ADF1;
}
span.category.goals{
   background-color: #9C72E4;
}
span.category.recruiting{
background-color: #64C0A9;
}
span.category.mobile{
   background-color: #F29E32;
}
span.category.website{
   background-color: #D763A1;
}
span.category.sales{
   background-color: #B0C926;
}
/* /CATEGORIE LISTA */

